<!DOCTYPE html>
{{ with .Site.LanguageCode }}<html lang="{{ . }}">{{ else }}<html>{{ end }}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ partial "style" . }}
    {{ partial "ogp" . }}
    {{ block "head" . }}
    {{ end }}
    <title>
      {{ block "title" . }}
      {{ .Site.Title }}
      {{ end }}
    </title>
  </head>
  <body>
    <header>
      {{ partial "header" . }}
    </header>
    <div class="main-content">
      {{ block "main" . }}
      {{ end }}
    </div>
    <footer>
      {{ partial "footer" . }}
    </footer>
  </body>
  {{ partial "theme" . }}
</html>
