body {
  display: flex;
  flex-flow: column;
  min-height: 92vh;
}

.main-content {
  flex: 1;
}

.list-post {
  padding: 0;
  list-style: none;
}

.list-item {
  border-bottom: 1px dashed rgb(141, 141, 141);
  margin-bottom: 10px;
}

.list-item time {
  font-size: small;
}

.post-meta {
  margin-bottom: 0.5rem;
}

.post-meta * {
  font-size: 0.9rem;
}

#theme-button {
  float: right;
}

.footer-text {
  font-size: small;
}